USE [master]
GO
/****** Object:  Database [Eventdb]    Script Date: 2020/11/25 下午 12:20:22 ******/
CREATE DATABASE [Eventdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Eventdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Eventdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Eventdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Eventdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Eventdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Eventdb]
GO
/****** Object:  User [Yen]    Script Date: 2020/11/25 下午 12:20:22 ******/
CREATE USER [Yen] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Event2]    Script Date: 2020/11/25 下午 12:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event2](
	[Event_ID] [int] IDENTITY(1,1) NOT NULL,
	[EventStartDate] [datetime] NULL,
	[EventEndDate] [datetime] NULL,
	[EventLocation] [nvarchar](50) NULL,
	[EventName] [nvarchar](200) NULL,
	[EventContent] [nvarchar](500) NULL,
	[EventRemark] [nvarchar](500) NULL,
	[EventMaxPeople] [int] NULL,
	[EventMinPeople] [int] NULL,
	[EventLocationX] [varchar](50) NULL,
	[EventLocationY] [varchar](50) NULL,
	[EventNowJoin] [int] NULL,
	[EventCreateEmployeeID] [int] NULL,
	[EventImage] [nvarchar](255) NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[Event_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventBooking2]    Script Date: 2020/11/25 下午 12:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventBooking2](
	[Event_ID] [int] NOT NULL,
	[mb_ID] [int] NOT NULL,
	[BookingDate] [datetime] NOT NULL,
	[EmployeeJoinStatus] [int] NOT NULL,
	[BookingCount] [int] NULL,
	[Event] [int] NULL,
 CONSTRAINT [PK_EventBooking] PRIMARY KEY CLUSTERED 
(
	[Event_ID] ASC,
	[mb_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventComment2]    Script Date: 2020/11/25 下午 12:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventComment2](
	[Event_ID] [int] NOT NULL,
	[mb_ID] [int] NOT NULL,
	[CommentStatus] [int] NULL,
 CONSTRAINT [PK_EventComment] PRIMARY KEY CLUSTERED 
(
	[Event_ID] ASC,
	[mb_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Event2] ON 

INSERT [dbo].[Event2] ([Event_ID], [EventStartDate], [EventEndDate], [EventLocation], [EventName], [EventContent], [EventRemark], [EventMaxPeople], [EventMinPeople], [EventLocationX], [EventLocationY], [EventNowJoin], [EventCreateEmployeeID], [EventImage]) VALUES (41, CAST(N'2020-12-26T00:00:00.000' AS DateTime), CAST(N'2020-12-27T00:00:00.000' AS DateTime), N'和平體育館', N'打球阿', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'anonymous.jpg')
INSERT [dbo].[Event2] ([Event_ID], [EventStartDate], [EventEndDate], [EventLocation], [EventName], [EventContent], [EventRemark], [EventMaxPeople], [EventMinPeople], [EventLocationX], [EventLocationY], [EventNowJoin], [EventCreateEmployeeID], [EventImage]) VALUES (42, CAST(N'2020-11-10T00:00:00.000' AS DateTime), CAST(N'2020-11-11T00:00:00.000' AS DateTime), N'八方雲集', N'走啊吃水餃拉', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'dp.jpg')
INSERT [dbo].[Event2] ([Event_ID], [EventStartDate], [EventEndDate], [EventLocation], [EventName], [EventContent], [EventRemark], [EventMaxPeople], [EventMinPeople], [EventLocationX], [EventLocationY], [EventNowJoin], [EventCreateEmployeeID], [EventImage]) VALUES (43, CAST(N'2020-08-09T00:00:00.000' AS DateTime), CAST(N'2020-08-10T00:00:00.000' AS DateTime), N'台中市', N'去淨灘', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'馬力歐.jpg')
SET IDENTITY_INSERT [dbo].[Event2] OFF
INSERT [dbo].[EventBooking2] ([Event_ID], [mb_ID], [BookingDate], [EmployeeJoinStatus], [BookingCount], [Event]) VALUES (41, 2037, CAST(N'2020-11-16T16:56:04.823' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[EventBooking2] ([Event_ID], [mb_ID], [BookingDate], [EmployeeJoinStatus], [BookingCount], [Event]) VALUES (42, 1, CAST(N'2020-11-09T17:24:47.710' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[EventBooking2] ([Event_ID], [mb_ID], [BookingDate], [EmployeeJoinStatus], [BookingCount], [Event]) VALUES (43, 1, CAST(N'2020-11-10T14:54:48.113' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[EventComment2] ([Event_ID], [mb_ID], [CommentStatus]) VALUES (41, 1, 1)
INSERT [dbo].[EventComment2] ([Event_ID], [mb_ID], [CommentStatus]) VALUES (43, 1, 1)
ALTER TABLE [dbo].[EventBooking2]  WITH CHECK ADD  CONSTRAINT [FK_EventBooking_Event] FOREIGN KEY([Event_ID])
REFERENCES [dbo].[Event2] ([Event_ID])
GO
ALTER TABLE [dbo].[EventBooking2] CHECK CONSTRAINT [FK_EventBooking_Event]
GO
ALTER TABLE [dbo].[EventComment2]  WITH CHECK ADD  CONSTRAINT [FK_EventComment_Event] FOREIGN KEY([Event_ID])
REFERENCES [dbo].[Event2] ([Event_ID])
GO
ALTER TABLE [dbo].[EventComment2] CHECK CONSTRAINT [FK_EventComment_Event]
GO
USE [master]
GO
