<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>揪團go開團 </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">


    <!-- CSS here -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/flaticon.css">
    <link rel="stylesheet" href="../assets/css/slicknav.css">
    <link rel="stylesheet" href="../assets/css/animate.min.css">
    <link rel="stylesheet" href="../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/css/themify-icons.css">
    <link rel="stylesheet" href="../assets/css/slick.css">
    <link rel="stylesheet" href="../assets/css/nice-select.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free-5.14.0-web/css/all.css">
    <style>
        body {
            background-color: #d5f0f0;
            padding-top: 0px;
        }
        .push_right {
            display: flex;
            flex-direction: row-reverse;
        }

        .button_margin {
            margin: 10px;
        }

        .footer_range {
            margin-top: 40px;
        }

        /* .footer-end-social a,
        .footer_link a {
            font-size: 120%;
            color: black;
            text-decoration: none;
            margin: 5px;
        } */

        .footer-end-range {
            display: flex;
            justify-content: space-between;
            margin: auto;
            /* width: 900px; */
        }

        .response_range {
            display: flex;
        }

        .main_BCC {
            background-color: #FFF8D7;
            border-radius: 5px;
        }

        .text_mragin {
            margin-right: 10px;
        }

        .figure_range {
            margin: 5px;
        }








        .btn1 {
            padding: 1px 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 40px;
            border-radius: 6px;
            margin-top: 6px;
        }

        .form-group1 {
            width: 800px;
            /* border: 1px solid blue; */
        }
        .fc{
            background-color:white;
        }
       
    </style>
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    @*<img src="../assets/img/logo.png" alt="">*@
                    <img src="~/assets/img/Gladxy_co._LOGO_Small.png" />
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-bottom  header-sticky" style="background-color:white;">
                    <div class="container">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                    <a href="#"><img src="../assets/img/Gladxy_co._LOGO_Small.png" alt=""></a>
                                </div>
                            </div>
                            <h3 class="col-xl-2 col-lg-4 col-md-3" style="display:flex;justify-content:center;">員工福利網</h3>

                            <div class="col-xl-8 col-lg-10 col-md-10">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/cBlog/BlogList">部落格</a></li>
                                            <li><a href="/cBlog/ForumList">討論區</a></li>

                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                                   role="button" data-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    揪團GO
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    <a class=" dropdown-item" href="/cBlog/PurchaseList" style="padding: 10px;">
                                                        回到主頁
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class=" dropdown-item" href="/cBlog/Purchase_Open" style="padding: 10px;">
                                                        我要開團
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class=" dropdown-item" href="/cBlog/Purchase_OpenList" style="padding: 10px;">
                                                        開團紀錄
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="/cBlog/Purchase_FollowList" style="padding: 10px;">
                                                        我的跟團
                                                    </a>
                                                   

                                                </div>
                                            </li>

                                            <!-- <li><a href="#">Blog</a>
        <ul class="submenu">
            <li><a href="#">Blog</a></li>
            <li><a href="#">Blog Details</a></li>
        </ul>
    </li> -->
                                            <!-- <li><a href="#">Pages</a>
        <ul class="submenu">
            <li><a href="#">Element</a></li>
        </ul>
    </li> -->
                                            @*<li><a href="/cBlog/MemberDataEdit/@ViewBag.enumber5">修改資料</a></li>/*@
                                            <li><a href="/cBlog/Action">活動區</a></li>
                                            <li>歡迎 @ViewBag.LoginName </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="/cBlog/PurchaseList" id="navbarDropdown"
                                                   role="button" data-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    會員專區
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                                    <a class=" dropdown-item" href="/cBlog/Purchase_OpenList" style="padding: 10px;">
                                                        我的開團
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class=" dropdown-item" href="/cBlog/Purchase_FollowList" style="padding: 10px;">
                                                        我的跟團
                                                    </a>
                                                    @*<div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#" style="padding: 10px;">
                                                        我的郵件
                                                    </a>*@
                                                    @*<div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#" style="padding: 10px;">
                                                        我要發信
                                                    </a>*@
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="/cBlog/MemberDataEdit/@ViewBag.enumber5" style="padding: 10px;">
                                                        修改資料
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="/cBlog/Vote" style="padding: 10px;">
                                                        我的投票
                                                    </a>

                                                </div>
                                            </li>
                                            <li><a href="/cBlog/LogOut">登出</a></li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>


    <br />
    <main>
        <div class="container" style="margin: 0 20%;">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group1">
                    <label for="exampleInputEmail1" onclick="setdemo()">開團標題</label>
                    <input type="text"   name="txtptitle" class="form-control fc" id="txttitle" aria-describedby="emailHelp"
                           placeholder="請輸入開團標題">
                </div>
                <div class="form-group1">
                    <label for="exampleInputEmail1">截止日期</label>
                    <input type="date" name="txtpenddate" class="form-control fc" id="txtenddate" aria-describedby="emailHelp"
                           placeholder="請輸入截止日期">
                </div>
                @*<div class="form-group1">
            <label for="exampleInputEmail1">目標人數</label><br>
            <input type="text" name="txttargetnumber" class="form-control" placeholder="請輸入人數">
        </div>*@
                <div class="form-group1">
                    <label for="exampleInputEmail1" >團購類型</label><br>
                    <select name="group_type" id="txttype" >
                        <option  value="1">飲料</option>
                        <option value="2">辦公小物</option>
                    </select>
                </div>
                <br>
                <br>
                <div class="form-group1">
                    <label for="exampleInputEmail1">團購描述</label><br>
                    <textarea class="form-control fc" id="txtgd" name="group_description" placeholder="請輸入團購描述" rows="4"></textarea>
                </div>
                @*<div class="form-group1">
            <label for="exampleInputEmail1">開團人標號</label><br>
            <input type="text" class="form-control" name="opnepeopleid" placeholder="請輸入員工ID">
        </div>*@


                @*<div class="form-group1">
                    <label for="exampleInputEmail1">產品一名稱</label><br>
                    <input type="text" class="form-control fc" name="ponename" placeholder="請輸入產品1名稱">
                </div>*@
                @*<div class="form-group1">
            <label for="exampleInputEmail1">產品一庫存</label><br>
            <input type="text" class="form-control" name="ponenum" placeholder="請輸入產品1庫存">
        </div>*@
                @*<div class="form-group1">
                    <label for="exampleInputEmail1">產品一價格</label><br>
                    <input type="text" class="form-control fc" name="poneprice" placeholder="請輸入產品1價格">
                </div>
                <div class="form-group1">
                    <label for="exampleInputEmail1">產品一目標人數</label><br>
                    <input type="text" name="txttargetnumber1" class="form-control fc" placeholder="請輸入產品一預期人數">
                </div>*@
                @*<div class="form-group1">
                    <label for="exampleInputEmail1">產品一照片</label><br>
                    <input type="file" name="txtpic1" class="form-control">
                </div>*@
                @*<div class="form-group1">
                    <label for="exampleInpuntEmail1">產品一照片</label><br>
                    <input type="file" name="XXX" class="form-control" />
                </div>
                <div class="form-group1">
                    <label for="exampleInputEmail1">產品二名稱</label><br>
                    <input type="text" class="form-control fc" name="ptwoname" placeholder="請輸入產品2名稱">
                </div>*@
                @*<div class="form-group1">
            <label for="exampleInputEmail1">產品二庫存</label><br>
            <input type="text" class="form-control" name="ptwonum" placeholder="請輸入產品2庫存">
        </div>*@
                @*<div class="form-group1">
                    <label for="exampleInputEmail1">產品二價格</label><br>
                    <input type="text" class="form-control fc" name="ptwoprice" placeholder="請輸入產品2價格">
                </div>
                <div class="form-group1">
                    <label for="exampleInputEmail1">產品二目標人數</label><br>
                    <input type="text" name="txttargetnumber2" class="form-control fc" placeholder="請輸入產品二預期人數">
                </div>*@
                @*<div class="form-group1">
                    <label for="exampleInputEmail1">產品二照片</label><br>
                    <input type="file" name="txtpic2" class="form-control">
                </div>*@
                @*<div class="form-group1">
                    <label for="exampleInpuntEmail1">產品二照片</label><br>
                    <input type="file" name="XXX2" class="form-control" />
                </div>*@
                <br><button type="submit" class="btn btn-primary"
                            style="margin-left: 0px;margin-top: 10px;">
                    確定開團
                </button>
                
            </form>





        </div>
    </main>
    <footer>
        <div class="footer_range footer-area footer-padding footer-bg"
             data-background="../assets/img/footer_bg.jpg">
            <div class="container">
                <div class="footer-end-range footer_link">
                    <div class="col-xl-7 col-lg-7 col-md-7">
                        <div class="footer-end-left ">
                            <a href="#">公司主頁</a>
                            <a href="#">福委會主頁</a>
                            <a href="#">與我聯繫</a>
                            <a href="#">聲明事項</a>
                        </div>
                    </div>

                    <div class="col-xl-5 col-lg-5 col-md-5">
                        <div class="footer-social f-right">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                </div>
                <div class="footer-end-range">
                    <P>© 2020 Gladxy Daily. All rights reserved</P>
                </div>
            </div>

        </div>
    </footer>





    <!-- JS here -->
 <script>
     function convertToISO(timebit) {
         // remove GMT offset
         timebit.setHours(0, -timebit.getTimezoneOffset(), 0, 0);
         // format convert and take first 10 characters of result
         var isodate = timebit.toISOString().slice(0, 10);
         return isodate;
     }



     let bookdate = document.getElementById('txtenddate');
     let currentdate = new Date();
     bookdate.min = convertToISO(currentdate);
     bookdate.placeholder = bookdate.min;
     

     function setdemo() {
         document.getElementById("txttitle").value = "買隨身碟";
         document.getElementById("txtenddate").value = "2020-11-30";
         document.getElementById("txtgd").value = "超棒隨身碟";
     }
 </script>
    <!-- All JS Custom Plugins Link Here here -->
    <script src="../assets/js/vendor/modernizr-3.5.0.min.js"></script>

    <!-- Jquery, Popper, Bootstrap -->
    <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="../assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="../assets/js/wow.min.js"></script>
    <script src="../assets/js/animated.headline.js"></script>
    <script src="../assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="../assets/js/jquery.scrollUp.min.js"></script>
    <script src="../assets/js/jquery.nice-select.min.js"></script>
    <script src="../assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="../assets/js/contact.js"></script>
    <script src="../assets/js/jquery.form.js"></script>
    <script src="../assets/js/jquery.validate.min.js"></script>
    <script src="../assets/js/mail-script.js"></script>
    <script src="../assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="../assets/js/plugins.js"></script>
    <script src="../assets/js/main.js"></script>


</body>

</html>