<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gladxy Co._LogIn</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/flaticon.css">
    <link rel="stylesheet" href="../assets/css/slicknav.css">
    <link rel="stylesheet" href="../assets/css/animate.min.css">
    <link rel="stylesheet" href="../assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/css/themify-icons.css">
    <link rel="stylesheet" href="../assets/css/slick.css">
    <link rel="stylesheet" href="../assets/css/nice-select.css">
    <link rel="stylesheet" href="../assets/css/style.css">

    @*<style>
            .article {
                width: 550px;
                margin: auto;
                /* height: 100px; */
                text-align: center;
                margin-bottom: 50px;
                /* line-height: 100px; */
            }

            .image_flex {
                display: flex;
                width: 800px;
                margin: auto;
                margin-bottom: 30px;
            }

            .image {
                margin-right: 20px;
                margin-left: 20px;
            }

            ul, li {
                margin: 0;
                padding: 0;
                list-style: none;
                color: black;
            }

            .abgne-news-scroll {
                /* border: 1px solid rgb(96, 226, 243); */
                background-color: rgb(207, 204, 204);
                border-radius: 5px;
                width: 100%;
                height: 150px;
                overflow: hidden;
                position: relative;
                margin-bottom: 20px;
                /* margin:5px; */
            }

                .abgne-news-scroll li {
                    height: 35px;
                    padding: 5px 0 5px 19px;
                }

            .abgne-news-scroll2 {
                /* border: 1px solid rgb(96, 226, 243); */
                background-color: rgb(207, 204, 204);
                border-radius: 5px;
                width: 100%;
                height: 150px;
                overflow: hidden;
                position: relative;
                margin-bottom: 20px;
                /* margin:5px; */
            }

                .abgne-news-scroll2 li {
                    height: 35px;
                    padding: 5px 0 5px 19px;
                }

            .ul_title {
                margin: auto,20px;
                text-align: center;
            }
        </style>*@
    <style>
      
        .article {
            width: 550px;
            margin: auto;
            /* height: 100px; */
            text-align: center;
            margin-bottom: 50px;
            /* line-height: 100px; */
        }

        .image_flex {
            display: flex;
            width: 800px;
            margin: auto;
            margin-bottom: 30px;
        }

        .image {
            margin-right: 20px;
            margin-left: 20px;
        }

        ul,
        li {
            margin: 0;
            padding: 0;
            list-style: none;
            color: black;
        }

        .abgne-news-scroll {
            /* border: 1px solid rgb(96, 226, 243); */
            /* background-color: rgb(231, 223, 223); */
            background-color: white;
            border-radius: 5px;
            width: 100%;
            height: 150px;
            overflow: hidden;
            position: relative;
            margin-bottom: 20px;
            /* margin:5px; */
        }

            .abgne-news-scroll li {
                height: 35px;
                padding: 5px 0 5px 19px;
            }

        .abgne-news-scroll2 {
            /* border: 1px solid rgb(96, 226, 243); */
            /* background-color: rgb(207, 204, 204); */
            background-color: white;
            border-radius: 5px;
            width: 100%;
            height: 150px;
            overflow: hidden;
            position: relative;
            margin-bottom: 20px;
            /* margin:5px; */
        }

            .abgne-news-scroll2 li {
                height: 35px;
                padding: 5px 0 5px 19px;
            }

        .ul_title {
            margin: auto, 20px;
            text-align: center;
        }

        body {
            background-color: #BCD3E1;
            padding-top: 0px;
            padding-bottom: 0px;
        }
      
    </style>
</head>


<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    @*<img src="../assets/img/logo.png" alt="">*@
                    <img src="~/Externalimg/Gladxy_co._LOGO_Small.png" />
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area" style="background-color: white;">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                    <a href="#"><img src="../assets/img/Gladxy_co._LOGO_Small.png" alt=""></a>
                                </div>
                            </div>
                            <h3 class="col-xl-3 col-lg-4 col-md-3">員工福利網</h3>
                            <div class="col-xl-7 col-lg-6 col-md-8">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <!-- <li><a href="#">Home</a></li> -->
                                            <li><a href="/cBlog/BlogList">部落格</a></li>
                                            <li><a href="/cBlog/ForumList">討論區</a></li>

                                            <li><a href="/cBlog/PurchaseList">揪團go</a></li>
                                            
                                            <li><a class="actionArea"  href="/cBlog/Action">活動區</a></li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                                   role="button" data-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    會員專區
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                                    <a class=" dropdown-item" href="/cBlog/Purchase_OpenList" style="padding: 10px;">
                                                        我的開團
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class=" dropdown-item" href="/cBlog/Purchase_FollowList" style="padding: 10px;">
                                                        我的跟團
                                                    </a>
                                                    @*<div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#" style="padding: 10px;">
                                                        我的郵件
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#" style="padding: 10px;">
                                                        我要發信
                                                    </a>*@
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="/cBlog/Vote" style="padding: 10px;">
                                                        我要投票
                                                    </a>


                                                </div>
                                            </li>
                                            <!-- <li><a href="#">Package</a></li> -->
                                            <!-- <li><a href="#">Blog</a>
        <ul class="submenu">
            <li><a href="#">Blog</a></li>
            <li><a href="#">Blog Details</a></li>
        </ul>
    </li> -->
                                            <!-- <li><a href="#">Pages</a>
        <ul class="submenu">
            <li><a href="#">Element</a></li>
        </ul>
    </li> -->
                                            <li><a href="/cBlog/LogOut">登出</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    <main>
        <div class="container" style="margin-bottom: 40px;height: 350px;">
            <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../assets/img/office_1.jpg" class="d-block w-100" alt="..." style="height: 350px;">
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/img/office_2.jpg" class="d-block w-100" alt="..." style="height: 350px;">
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/img/groupphoto4.jpg" class="d-block w-100" alt="..." style="height: 350px;">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>

        <!-- Our Services Start -->
        <div class="our-services">
            <div class="container">
                <div class="row d-flex justify-contnet-center">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 sbtn" onclick="javascript:location.href='/cBlog/BlogList'" style="padding-top: 0px;padding-bottom: 0px;">
                        <div class="single-services text-center mb-30"
                             style="background-color: white;border-radius: 15px;padding-top: 0px;padding-bottom: 0px;">
                            <div class="services-ion">
                                <span class="flaticon-experience"></span>
                            </div>
                            <div class="services-cap">
                                <h5>部落格<br>Blog</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 " onclick="javascript:location.href='/cBlog/ForumList'" style="padding-top: 0px;padding-bottom: 0px;">
                        <div class="single-services text-center mb-30 sbtn"
                             style="background-color:white;border-radius: 15px;padding-top: 0px;padding-bottom: 0px;">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap">
                                <h5>討論區<br>Guides</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 sbtn" onclick="javascript:location.href='/cBlog/PurchaseList'" style="padding-top: 0px;padding-bottom: 0px;">
                        <div class="single-services text-center mb-30"
                             style="background-color: white;border-radius: 15px;padding-top: 0px;padding-bottom: 0px;">
                            <div class="services-ion">
                                <span class="flaticon-pay"></span>
                            </div>
                            <div class="services-cap">
                                <h5>揪團Go<br>Shopping</h5>
                            </div>
                        </div>
                    </div>

                    

                    @*<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 sbtn" onclick="javascript:location.href='/cBlog/Action'" style="padding-top: 0px;padding-bottom: 0px;">*@
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 sbtn actionArea" style="padding-top: 0px;padding-bottom: 0px;">
                            <div class="single-services text-center mb-30"
                                 style="background-color: white;border-radius: 15px;padding-top: 0px;padding-bottom: 0px;">
                                <div class="services-ion">
                                    <span class="flaticon-good"></span>
                                </div>
                                <div class="services-cap">
                                    <h5>活動區<br>Activity</h5>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="container">
            <h3 class="ul_title" style="margin-top: 100px;">公告事項</h3>
            <div class="abgne-news-scroll">
                <ul>
                    <li><i class="fas fa-circle" style="font-size:1px;color:red"></i>附近美食推薦-福委會</li>
                    <li><i class="fas fa-circle" style="font-size:1px;color:red;"></i>財務部門-請注意相關訊息的報告</li>
                    <li><i class="fas fa-circle" style="font-size:1px;color:red;"></i>公司發布新政策請至信箱收信</li>
                    <li><i class="fas fa-circle" style="font-size:1px;color:red;"></i>人資部-新人訓練，請至2F會議室報到</li>
                    <li><i class="fas fa-circle" style="font-size:1px;color:red;"></i>2020/11/30 全體員工健檢，相關事項請至信箱收信</li>
                    <li><i class="fas fa-circle" style="font-size:1px;color:red;"></i>福委會-推出新福利，下禮拜員工餐一律打八折</li>
                    <li><i class="fas fa-circle" style="font-size:1px;color:red;"></i>資訊處-請全體員工注意資訊安全，切勿洩漏訊息給外部人員</li>
                    <li><i class="fas fa-circle" style="font-size:1px;color:red;"></i>管理處-下禮拜開始進行節電政策，請配合準時下班</li>
                    <li><i class="fas fa-circle" style="font-size:1px;color:red;"></i>團購注意-想要利用團購功能的員工請先詳讀團購說明</li>
                    <li><i class="fas fa-circle" style="font-size:1px;color:red;"></i>員工福利網-初次使用員工可先至個人頁面修改相關資料</li>
                </ul>
            </div>
            <h3 class="ul_title">Global Technology News</h3>
            <div class="abgne-news-scroll2">
                <ul id="rss"></ul>
            </div>
        </div>
        <!--輪播頁面-->
        <!-- <div class="container" style="margin-bottom: 40px;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets\img\blog\office_1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets\img\blog\office_2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets\img\blog\office_3.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div> -->

    </main>

    <footer>
        <div class="footer_range footer-area footer-padding footer-bg"
             data-background="../assets/img/footer_bg.jpg">
            <div class="container">
                <div class="footer-end-range footer_link">
                    <div class="col-xl-7 col-lg-7 col-md-7">
                        <div class="footer-end-left ">
                            <a href="#">公司主頁</a>
                            <a href="#">福委會主頁</a>
                            <a href="#">與我聯繫</a>
                            <a href="#">聲明事項</a>
                        </div>
                    </div>

                    <div class="col-xl-5 col-lg-5 col-md-5">
                        <div class="footer-social f-right">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                </div>
                <div class="footer-end-range">
                    <P>© 2020 Gladxy Daily. All rights reserved</P>
                </div>
            </div>

        </div>
    </footer>

    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="../assets/js/vendor/modernizr-3.5.0.min.js"></script>

    <!-- Jquery, Popper, Bootstrap -->
    <script src="../assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="../assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="../assets/js/wow.min.js"></script>
    <script src="../assets/js/animated.headline.js"></script>
    <script src="../assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="../assets/js/jquery.scrollUp.min.js"></script>
    <script src="../assets/js/jquery.nice-select.min.js"></script>
    <script src="../assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="../assets/js/contact.js"></script>
    <script src="../assets/js/jquery.form.js"></script>
    <script src="../assets/js/jquery.validate.min.js"></script>
    <script src="../assets/js/mail-script.js"></script>
    <script src="../assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="../assets/js/plugins.js"></script>
    <script src="../assets/js/main.js"></script>

    <script>
        $(function () {
            // 先取得 .abgne-news-scroll ul 及 li 的高度
            // 並設定訊息移動, 淡入及輪播時間
            var $news = $('.abgne-news-scroll ul'),
                scrollHeight = $news.find('li').outerHeight(true),
                scrollSpeed = 600, fadeInSpeed = 600,
                timer, speed = 2000;

            // 用來控制輪播用
            function newsScroll() {
                // 先把 .abgne-news-scroll ul 往下移
                $news.animate({
                    top: scrollHeight + 'px'
                }, scrollSpeed, function () {
                    // 當 .abgne-news-scroll ul 移動到定點後
                    // 先找出最後一個 li
                    var $last = $news.find('li:last');
                    // 複製一份並先隱藏起來
                    // 接著把它加到 .abgne-news-scroll ul 中的第一個項目
                    // 最後用淡入的方式顯示, 當顯示完後繼續輪播
                    $last.clone().hide().prependTo($news).fadeIn(fadeInSpeed, function () {
                        timer = setTimeout(newsScroll, speed);
                    });
                    // 馬上把 .abgne-news-scroll ul 移到 top 等於 0 的位置
                    $news.css('top', 0);
                    // 把 $last 移除掉
                    $last.remove();
                });
            }

            // 啟動輪播計時器
            timer = setTimeout(newsScroll, speed);
        });

        const RSS_URL = `https://rss.nytimes.com/services/xml/rss/nyt/Technology.xml`;
        let gData;
        $.ajax(RSS_URL, {
            accepts: {
                xml: "application/rss+xml"
            },
            dataType: "xml",
            success: function (data) {
                gData = data;
                let count = 0;
                // gd = $(gData);
                // gd.find('item > *[url]').eq(0).attr('url')
                $(data)
                    .find("item")
                    .each(function () {
                        count++;
                        console.log(count);
                        const el = $(this);
                        const template = `
                <li style="line-height:100px">

                    <h5><i class="fas fa-circle" style="font-size:1px;color:red;"></i><a href="${el.find("link").text()}" target="_blank" rel="noopener" style="color:black;">
                        ${el.find("title").text()}&nbsp; - &nbsp;${el.find("pubDate").text().substring(0,22)}
                    </a></h5>
                </li>
                `;
                        document.getElementById("rss").innerHTML += template;
                    });
            }
        });

        $(function () {
            // 先取得 .abgne-news-scroll ul 及 li 的高度
            // 並設定訊息移動, 淡入及輪播時間
            var $news = $('.abgne-news-scroll2 ul'),
                scrollHeight = $news.find('li').outerHeight(true),
                scrollSpeed = 600, fadeInSpeed = 600,
                timer, speed = 2000;

            // 用來控制輪播用
            function newsScroll() {
                // 先把 .abgne-news-scroll ul 往下移
                $news.animate({
                    top: scrollHeight + 'px'
                }, scrollSpeed, function () {
                    // 當 .abgne-news-scroll ul 移動到定點後
                    // 先找出最後一個 li
                    var $last = $news.find('li:last');
                    // 複製一份並先隱藏起來
                    // 接著把它加到 .abgne-news-scroll ul 中的第一個項目
                    // 最後用淡入的方式顯示, 當顯示完後繼續輪播
                    $last.clone().hide().prependTo($news).fadeIn(fadeInSpeed, function () {
                        timer = setTimeout(newsScroll, speed);
                    });
                    // 馬上把 .abgne-news-scroll ul 移到 top 等於 0 的位置
                    $news.css('top', 0);
                    // 把 $last 移除掉
                    $last.remove();
                });
            }

            // 啟動輪播計時器
            timer = setTimeout(newsScroll, speed);
        });
         //活動區
        $(function () {
            var mb_id = '@ViewBag.mb_id';
            if (mb_id == '2059') {
                $('.actionArea:eq(0)').text('活動管理');
                $('.actionArea').find('.services-cap').html('<h5>活動管理<br>Activity Management</h5>');
            }
            $('.actionArea').click(function (e) {
                e.preventDefault();
                if (mb_id == '2059') {
                    //管理者
                     window.location.href = '@Href("~/cBlog/ActionList")';
                } else {
                     //使用者
                    window.location.href = '@Href("~/cBlog/Action")';
                }

            });
        });


    </script>

</body>
</html>